# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.env
.env.*.local
.venv/
.mypy_cache/
.pytest_cache/
.coverage*

# Node/Vue/Vite
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# Misc
*.log

